In [6]:
import pandas as pd
import re
import nltk
import gensim
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer,WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.tokenize import RegexpTokenizer,word_tokenize

In [7]:
train=pd.read_csv('train_2kmZucJ.csv')
train.head()

   id  label                                              tweet
0   1      0  #fingerprint #Pregnancy Test https://goo.gl/h1...
1   2      0  Finally a transparant silicon case ^^ Thanks t...
2   3      0  We love this! Would you go? #talk #makememorie...
3   4      0  I'm wired I know I'm George I was made that wa...
4   5      1  What amazing service! Apple won't even talk to...

In [8]:
train.shape

(7920, 3)

In [9]:

eng_stop_words=stopwords.words('english')
lem=WordNetLemmatizer()

In [10]:
def preprocess(tweet):
    final_tokens=' '
    token_no_url=re.sub(r'http\S+', ' ',tweet)
    token_no_spl= re.sub('[^A-Za-z]+', ' ', token_no_url) 
    
    tokens=word_tokenize(token_no_spl,language='english')
    filtered_tokens=[token.lower() for token in tokens if token.lower() not in eng_stop_words]
    lemmed_tokens=[lem.lemmatize(token,pos='v') for token in filtered_tokens]
    final_tokens=final_tokens.join(lemmed_tokens)
    return final_tokens

In [11]:
train['cleaned_tweets']=train['tweet'].apply(lambda x:preprocess(x))

In [12]:
train

,id,label,tweet,cleaned_tweets
0,1,0,#fingerprint #Pregnancy Test https://goo.gl/h1...,fingerprint pregnancy test android apps beauti...
1,2,0,Finally a transparant silicon case ^^ Thanks t...,finally transparant silicon case thank uncle y...
2,3,0,We love this! Would you go? #talk #makememorie...,love would go talk makememories unplug relax i...
3,4,0,I'm wired I know I'm George I was made that wa...,wire know george make way iphone cute daventry...
4,5,1,What amazing service! Apple won't even talk to...,amaze service apple even talk question unless ...
...,...,...,...,...
7915,7916,0,Live out loud #lol #liveoutloud #selfie #smile...,live loud lol liveoutloud selfie smile sony mu...
7916,7917,0,We would like to wish you an amazing day! Make...,would like wish amaze day make every minute co...
7917,7918,0,Helping my lovely 90 year old neighbor with he...,help lovely year old neighbor ipad morning mak...
7918,7919,0,Finally got my #smart #pocket #wifi stay conne...,finally get smart pocket wifi stay connect any...
7919,7920,0,Apple Barcelona!!! #Apple #Store #BCN #Barcelo...,apple barcelona apple store bcn barcelona trav...

In [13]:
tweets=train['cleaned_tweets']
label=train['label']

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(tweets,label,test_size=.20,random_state=42)

In [15]:
tfidf=TfidfVectorizer()
x_train_mat=tfidf.fit_transform(x_train)
x_test_mat=tfidf.transform(x_test)

In [16]:
x_train_mat_df=pd.DataFrame(x_train_mat.toarray(),columns=tfidf.get_feature_names())
x_train_mat_df.head()

,aa,aag,aah,aalborg,aand,aapl,aaron,aaronbrandt,aarp,aarrrggghhhh,...,zunjndm,zurich,zwckahsl,zwcn,zx,zxw,zxzh,zzita,zzjvgtyaxl,zznj
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
x_train

4252    cool car wash idea theisland bankholidaymonday...
4428    photo th birthday sony walkman thinkgeek nobod...
7374    ipads biggest pile fuck planet want throw fuck...
1410    yearbook hmmmmm instagram instagood together f...
7896    piss macbook crash apple company nothing apple...
                              ...
5226    shana tova jewish newyear everyone may new yea...
5390               sick buy new cell phone chargers apple
860     want download free iphone app today spread sty...
7603    photo nikosx iphone beach holiday bw iphone bl...
7270    get iphone hehe iphone apple new finally seb lose
Name: cleaned_tweets, Length: 6336, dtype: object

In [19]:
from sklearn.naive_bayes import GaussianNB
GNB=GaussianNB()
GNB.fit(x_train_mat.toarray(),y_train)

GaussianNB()

In [20]:
from sklearn.metrics import f1_score
pre=GNB.predict(x_test_mat.toarray())
print(f1_score(y_test,pre,average='weighted'))

0.8025426887187398

In [21]:
test=pd.read_csv('test_oJQbWVk.csv')
test.head()

     id                                              tweet
0  7921  I hate the new #iphone upgrade. Won't let me d...
1  7922  currently shitting my fucking pants. #apple #i...
2  7923  I'd like to puts some CD-ROMS on my iPad, is t...
3  7924  My ipod is officially dead. I lost all my pict...
4  7925  Been fighting iTunes all night! I only want th...

In [22]:
test['cleaned_tweets']=test['tweet'].apply(lambda x:preprocess(x))

In [24]:

test_mat=tfidf.transform(test['cleaned_tweets'])

In [25]:
test_pre=GNB.predict(test_mat.toarray())

In [26]:
test['predicion']=test_pre

In [27]:
test.head(10)

,id,tweet,cleaned_tweets,predicion
0,7921,I hate the new #iphone upgrade. Won't let me d...,hate new iphone upgrade let download apps ugh ...,1
1,7922,currently shitting my fucking pants. #apple #i...,currently shit fuck pant apple imac cashmoney ...,1
2,7923,"I'd like to puts some CD-ROMS on my iPad, is t...",like put cd roms ipad possible yes block screen,1
3,7924,My ipod is officially dead. I lost all my pict...,ipod officially dead lose picture videos sos c...,0
4,7925,Been fighting iTunes all night! I only want th...,fight itunes night want music pay,0
5,7926,#Repost @getbakednfried with repostapp ãƒ»ãƒ»ãƒ» to ...,repost getbakednfried repostapp announce apple...,0
6,7927,This new apple software update is really doing...,new apple software update really things phone ...,1
7,7928,BABY #iPhone #iphone6s #gold #new #apple #appl...,baby iphone iphone gold new apple appleisbest ...,1
8,7929,I'm confused...why did I have to take the time...,confuse take time set appointment still wait m...,1
9,7930,Fruit just tastes better when you pick it your...,fruit taste better pick apple healthy fruit ny...,0